.MovieCardSmall {
  min-height: 16rem;
  width: 11rem;
  .img {
    height: 16rem;
    width: 11rem;
    border-radius: 0rem;
    overflow: hidden;
    border: none;
    outline: none;
    margin-bottom: 0.3rem;
    object-fit: cover;
  }
  p {
    color: #ffffff;
    width: 100%;
    margin-left: 0.2rem;
    height: 4.5ch;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 700;
    // font-size: 0.9rem;
  }
}

@media (max-width: 769px) {
  .MovieCardSmall {
    min-height: 11rem;
    width: 8rem;
    .img {
      height: 11rem;
      width: 8rem;
    }
    p {
      color: var(--primary-2);
      width: 80%;
    }
  }
}
