.Recommendation {
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1rem 1.5rem;
  padding-left: 4.5rem;
  select {
    width: clamp(10rem, 10%, 12rem);
    padding: 0.5rem 1rem;
    background: var(--bg-color);
    color: var(--primary-3);
    outline: none;
    border: 1px solid var(--primary-2);
    border-radius: 0.5rem;
    margin: 0rem 0;
  }
  .category {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    gap: 1.2rem;
    margin-top: 1rem;
  }
}

@media (max-width: 769px) {
  .Recommendation {
    padding-left: unset;
    padding: 0 1rem;
    padding: 1.5rem 1rem;
    padding-bottom: 2.7rem;
  }
}

.HomeListAll {
  margin-top: 2rem;
  .HomeListSection {
    display: flex;
    margin: 1rem 0.5rem;
    margin-bottom: 3rem;
    // justify-content: center;
    // align-items: center;
    // flex-wrap: wrap;
    width: 100%;
    overflow: auto;
    gap: 1.2rem;
    .loading {
      height: 15rem;
      width: 10rem;
    }
  }

  h2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-3);
    height: 2ch;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
    span {
      margin: 0;
      padding: 0;
      color: var(--ascent-color);
    }
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 1rem;
      font-size: 0.8rem;
      svg {
        font-size: 1.5rem;
        cursor: pointer;
      }
    }
  }
  // h1{
  //   height: 3ch;
  //   margin-top: 3rem;
  //   padding: 0 1rem;
  //   border-left: 0.5rem solid var(--primary-3);
  //   border-radius: 0.5rem;
  //   display: flex;
  //   align-items: center;
  // }
}

@media (max-width: 769px) {
  .HomeListAll {
    .HomeListSection {
      .loading {
        height: 10rem;
        width: 7rem;
      }
    }
    h2 {
      div {
        display: none;
      }
    }
  }
}
